---
title: Atoms
---
<h1>{{title}}</h1>
<p>TODO: Describe what an atom is</p>

{{#each pages}}
  {{#contains this.dest "atoms"}}
  {{#isnt ../../page.dest this.dest}}
  <a name="{{basename}}"></a>
  <div class="markdown__body">
    {{#markdown}}
      {{{page}}}
    {{/markdown}}
  </div>
  {{/isnt}}
  {{/contains}}
{{/each}}
